<mat-card>
    <mat-card-header>
        <div mat-card-avatar 
        [style.background-image]="'url('+'http://pm1.narvii.com/7531/c5a07a6fd28673dd35bc2539a9e6377f86e5243cr1-474-374v2_uhq.jpg' +')'"
        [style.background-size]="'cover'"></div>
        <mat-card-title>Ben Gordo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sed odit cum quasi voluptatem quo asperiores, ipsum ad consectetur voluptas sit maxime atque sunt, perferendis dignissimos dolor similique ab possimus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, illum ducimus officiis in, praesentium accusantium reiciendis ea atque quas blanditiis voluptatem animi dignissimos? Soluta, at obcaecati a eum quaerat et.
        </span>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button>
            <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>thumb_down</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
